In [14]:
queries = [
    "Please pull up contact details for {first_name} {last_name}, their email is {email} and phone number is {mobile}.",
    "Could you fetch the information on {first_name} {last_name}? The email I have for them is {email} and their mobile is {mobile}.",
    "I need data on {first_name} {last_name}, who uses the email {email} and phone {mobile}.",
    "I'm searching for {first_name} {last_name}, they can be reached at {email} and {mobile}.",
    "Find the contact information for {first_name} {last_name}. The contact email is {email} and phone is {mobile}.",
    "Retrieve contact information for {first_name} {last_name}. The email on record is {email}, and their mobile is {mobile}.",
    "Kindly get me the details for {first_name} {last_name}. I have their email as {email} and mobile as {mobile}.",
    "Show me the information for {first_name} {last_name}. Their contact email is {email} and their mobile number is {mobile}.",
    "I require information on {first_name} {last_name}. The email address is {email} and their mobile is {mobile}.",
    "Can I get the details for {first_name} {last_name}? They use {email} for email and {mobile} for mobile.",
    "Need to look up the contact info for {first_name} {last_name}, they have the email {email} and phone {mobile}.",
    "Help me find the information on {first_name} {last_name}. They use the email {email} and phone {mobile}.",
    "What's the contact detail of {first_name} {last_name}? They use {email} and their mobile is {mobile}.",
    "We need the contact details for {first_name} {last_name}. They can be reached at {email} or {mobile}.",
    "Fetch the contact details of {first_name} {last_name}. You can contact them through {email} or their phone {mobile}.",
    "Look up the information for {first_name} {last_name}. Their primary contact is {email} and their phone number is {mobile}.",
    "Can you find the data for {first_name} {last_name}? Their email is {email} and they use {mobile} as their phone.",
    "I'm trying to locate contact details for {first_name} {last_name}. Their email address is {email}, and they can be reached at {mobile}.",
    "Seeking information for {first_name} {last_name}. The best way to contact them is either via email at {email} or their phone {mobile}.",
    "Find the details for {first_name} {last_name}. They can be reached at this email: {email} and at this phone number: {mobile}."
]

In [15]:
import csv
import faker

# Create a Faker instance
fake = faker.Faker()

# Define a function to generate a row
def generate_row(query_template):
    first_name = fake.first_name()
    last_name = fake.last_name()
    email = fake.email()
    phone_number = fake.phone_number()
    query = query_template.format(first_name=first_name, last_name=last_name, email=email, mobile=phone_number)
    return [query, email, phone_number, first_name, last_name]

rows = []

# Generate rows
for query_template in queries:
    rows.extend([generate_row(query_template) for _ in range(50)])

# Write to CSV
with open('./data/data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Query", "Email", "Mobile", "FirstName", "LastName"])
    writer.writerows(rows)

In [19]:
import pandas as pd
df = pd.read_csv('./data/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Query      1000 non-null   object
 1   Email      1000 non-null   object
 2   Mobile     1000 non-null   object
 3   FirstName  1000 non-null   object
 4   LastName   1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [20]:
df.head(5)

,Query,Email,Mobile,FirstName,LastName
0,Please pull up contact details for Sherry Tayl...,allenmarissa@example.org,(733)806-4015x707,Sherry,Taylor
1,Please pull up contact details for Christopher...,zmendez@example.com,(518)319-0507,Christopher,Walker
2,Please pull up contact details for David Robin...,stephanie52@example.org,001-197-751-2495x89864,David,Robinson
3,Please pull up contact details for Jon William...,jaime53@example.org,+1-172-648-1928x44276,Jon,Williams
4,Please pull up contact details for Lisa Thomps...,aguilarandrew@example.net,992-195-6796,Lisa,Thompson

In [18]:
# Shuffle your DataFrame
df = df.sample(frac=1).reset_index(drop = True)
# Save shuffled dataframe to csv
df.to_csv("./data/shuffled_data.csv", index=False)